<% provide(:title, 'Projects - Qtrack') %>

<!-- Main content -->
<div class="container" role="main">

  <!-- Breadcrumbs -->
  <ul class="breadcrumb">
    <li>
      <%= link_to root_path do %>
          <span class="awe-home"></span> Home
      <% end %>
    </li>
    <li>Projects</li>
  </ul>
  <!-- /Breadcrumbs -->
  <!--@*Display flashes here *@

  <% render_flashes %>

  <!-- Main data container -->
  <div class="content">
    <div class="page-header">
      <!-- Page grid cell (12 blocks - full) -->
      <h2>Projects</h2>

      <ul class="page-header-actions">
        <li><%= link_to 'New Project', new_project_path, class: 'btn btn-wuxia btn-primary' %></li>
      </ul>
    </div>

    <!-- Tab content -->
    <div class="page-container tab-content">

      <!-- Tab #ui -->
      <div class="tab-pane active" id="ui">
        <!-- Grid row -->
        <div class="row">

          <!-- /Page grid cell (12 blocks - full) -->

          <!-- Page grid cell (12 blocks - full) -->
          <article class="span12">

            <% if @projects.empty? %>
            <div class="well" style="text-align: center; margin-bottom: 25px; margin-top: 15px; padding: 25px; color: #878D96;">
              <span>No Projects yet.</span>
            </div>
            <% else %>
            <ul class="project-list">
              <% for @project in @projects %>
                 <li><span class="big"><%= link_to @project.name, @project %></span> - <small><%= print_issue_counter(@project) %></small></li>
              <% end %>
            </ul>
            <!-- Page grid cell (12 blocks - full) -->
            <% end %>
          </article>
          <!-- Page grid cell (12 blocks - full) -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- /Tab #ui -->

    </div>
    <!-- /Tab content -->

  </div>
  <!-- /Main data container -->

</div>
<!-- /Main content -->