<!-- Main footer -->
<footer class="container">
  <nav>
    <ul>
      <li>&copy; Copyright 2013. All rights reserved.</li>
      <li><a href="http://qtrack.boxedfolder.com" title="Qtrack on the web">Web</a></li>
      <li><a href="" title="Qtrack on Github">Github</a></li>
    </ul>
  </nav>
  <p>Check out <a href="http://www.boxedfolder.com" title="boxedfolder.com">boxedfolder.com</a> for cool stuff.</p>
</footer>
<!-- /Main footer -->